# Signing keys - NEVER commit
*.jks
*.keystore

# Build directories
build/
build-android/
cmake-build-*/

# Qt Creator user files
*.user
*.user.*

# IDE
.idea/
.vscode/

# Compiled files
*.o
*.obj
*.apk
*.aab

# Installer
installer/setupvars.iss
installer/deploy/
installer/Output/
