<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleDisplayName</key>
    <string>Decenza</string>
    <key>CFBundleExecutable</key>
    <string>Decenza</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>Decenza</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>MinimumOSVersion</key>
    <string>17.0</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>bluetooth-le</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app uses Bluetooth to connect to your DE1 espresso machine and scales.</string>
    <key>NSLocationUsageDescription</key>
    <string>This app uses your location to show where your espresso shots were made on the shot map.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app uses your location to show where your espresso shots were made on the shot map.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app uses your location to show where your espresso shots were made on the shot map.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>This app uses Bluetooth to connect to your DE1 espresso machine and scales.</string>
    <key>NSCameraUsageDescription</key>
    <string>This app does not use the camera.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app does not use the microphone.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app can import photos and videos for the screensaver.</string>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSLocalNetworkUsageDescription</key>
    <string>This app runs a local web server so you can edit themes and view shot data from a browser on the same network.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>bluetooth-central</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
</dict>
</plist>
